@font-face {
    font-family: Elowen;
    src: url("fonts/Elowen.otf") format("opentype");

}

html, body {
    width: 100%;
    max-width: 100%;
    font-family: Elowen, serif;
    font-style: normal;
    font-weight: normal;
    overflow-x: hidden;
}

body {
    background: linear-gradient(-45deg, #2BFF88 0%, #2BD2FF 52%,  #FA8BFF 90%) no-repeat;
    margin: 0;
}

h1 {
    color: white;
    font-size: 5em;
    line-height: 0.8em;
    font-weight: normal;
    text-shadow: 0.09em 0.05em 0 #5015B0;
}
h2 {
    color: white;
    font-size: 3em;
    line-height: 0.8em;
    font-weight: normal;
}
.titleWrapper {
    padding: 2em 4em;
    max-width: 70%;
    transform: rotate(-9.72deg);
}
.footer {
    padding-bottom: 2em;
    text-align: center;
}
.title {
    position: absolute;
    left: 40%;
    top: 20%;
    width: 50%;
    text-shadow: 0.09em 0.05em 0 #5015B0;
}
a {
    font-size: 2em;
    color: #2BD2FF;
    text-decoration: none;
    transition: color 400ms;
}
a:visited {
    color: #5015B0;
}
a:hover {
    cursor: pointer;
    color: white;
}

.gallery div:nth-child(2n-1) {
    text-align: end;

}
.gallery__item {
    position: relative;
}
.gallery__item img {
    height: auto;
    padding: 20px 30px;
}
