@font-face {
    font-family: Elowen;
    src: url("fonts/Elowen.otf") format("opentype");

}

html, body {
    width: 100%;
    max-width: 100%;
    font-family: Elowen, serif;
    font-style: normal;
    font-weight: normal;
    overflow-x: hidden;
}

body {
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%);
}
h1 {
    color: white;
    font-size: 6em;
    line-height: 0.8em;
    font-weight: normal;
    text-shadow: 0.09em 0.05em 0 #5015B0;
}
h2 {
    color: white;
    font-size: 3em;
    line-height: 0.8em;
    font-weight: normal;
}
h3 {
    font-family: Helvetica;
    font-style: normal;
    color: white;
    text-align: center;
    font-weight: normal;
    max-width: 30%;
    margin: 0 auto;
    font-size: 0.5em;

}
.floor1 {
    background-color: #32b35e;
    background-image: linear-gradient(30deg, #32b35e 0%, #2AF598 100%);
}
.floor2 {
    background-color: #fff63b;
    background-image: linear-gradient(90deg, #fff63b 0%, #ffc63c 100%);
}
.floor3 {
    background-color: #fa6161;
    background-image: linear-gradient(45deg, #fa6161 0%, #F76B1C 100%);
}
.floor4 {
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%);
}
.titleWrapper {
    padding: 2em 4em;
    max-width: 80%;
    transform: rotate(-9deg);
}
.footer {
    padding-bottom: 2em;
    text-align: center;
}
.title {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 50%;
    text-shadow: 0.09em 0.05em 0 #5015B0;
}
.title_2 {
    position: absolute;
    left: 10%;
    top: 20%;
    width: 50%;
    text-shadow: 0.09em 0.05em 0 #5015B0;
}
a {
    font-size: 2em;
    color: #2BD2FF;
    text-decoration: none;
    transition: color 400ms;
}
a:visited {
    color: #5015B0;
}
a:hover {
    cursor: pointer;
    color: white;
}

.gallery__item {
    position: relative;
}
.right {
    text-align: end;
}
.gallery__item img {
    height: auto;
    padding: 20px 30px;
}
